<!-- start custom footer snippets -->
<p>The <em><a href="http://thenandnow.theological.me/" style="color:#ff0000;">Then and Now</a></em> project examines three case studies of dispossession: the
  <em><a href="https://sullivanclinton.theological.me/" target="_blank" rel="noopener" style="color:#ff0000;">Sullivan-Clinton Campaign</a></em>,
  <em><a href="https://derryveagh.theological.me/" target="_blank" rel="noopener" style="color:#ff0000;">Derryveagh Evictions</a></em>, and
  <em><a href="https://demo.theological.me/" target="_blank" rel="noopener" style="color:#ff0000;">Staked Plains</a></em>. This project is supported by the
  <em><a href="https://indigenousvalues.org" target="_blank" rel="noopener" style="color:#ff0000;">Indigenous Values Initative</a></em>.</p>
<!-- end custom footer snippets -->
