<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<!--Include Bob SEO-->

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "New York",
        "addressRegion": "NY",
        "postalCode": "10458",
        "streetAddress": "Private"
      },
      "colleague": [
        "https://adamdjbrett.com",
        "https://thecollege.syr.edu/people/faculty/arnold-philip-p/",
        "https://aila.ngo",
        "https://indigenousvalues.org"
      ],
      "email": "bob@sullivanclinton.com",
      "image": "https://www.sullivanclinton.com/images/robert-spiegelman-250x250.jpg",
      "jobTitle": "Director",
      "name": "Robert Spiegelman",
      "alternateName": "Bob",
      "alumniOf": ["City University of New York",
      "University of Michigan",
      "Queens College City University of New York"],
      "birthPlace": "New York City",
      "gender": "Male",
      "memberOf": "Then and Now",
      "url": "https://www.sullivanclinton.com/bio/",
	    "sameAs" : [ "https://www.thenandnow.us/",
      "https://www.derryveagh.com/",
      "https://www.sullivanclinton.com/",
      "https://www.stakedplains.com/",
      "https://www.fordham.edu/info/23995/adjunct_faculty/6747/robert_spiegelman",
      "https://www.linkedin.com/in/spiegelman/"]
    }
    </script>

<!-- end custom head snippets -->
