---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /images/fort-stanwix-min.jpg
  caption: "Photo credit: [**Spencer Tidball**](https://storymaps.arcgis.com/stories/61487a224f784512acd60dda17ecfb8f)"
  actions:
    - label: "Hidden in Plain Sight..."
      url: "/categories/texts/"
excerpt: "When the President George  Washington became Hanadahguyus (village burner)"
intro:
  - excerpt: "*You ought to hear and listen to what we women shall speak; for we are the owners of this land, AND IT IS OURS!* - Seneca Women"
feature_row:
  - image_path: /images/home/texts.jpg
    alt: "Monument with portraits of Generals Sullivan and Clinton"
    title: "Texts"
    url: "/texts/"
    btn_label: "Learn More"
    btn_class: "btn--inverse"
  - image_path: /images/home/gallery.jpg
    alt: "Onondaga Lake at Sunset"
    title: "Galleries"
    url: "/galleries/"
    btn_label: "Explore Art"
    btn_class: "btn--inverse"
  - image_path: /images/home/maps.jpg
    title: "Maps"
    alt: "Sullivan/Clinton Campaign Maps"
    url: "/maps/"
    btn_label: "Study Maps"
    btn_class: "btn--inverse"
---
{% include feature_row id="intro" type="center" %}

<strongSULLIVAN/CLINTON</strong> is an <em>essential</em> journey. It's not for the faint of heart, nor the stubborn of mind. It's a major event in U.S. history that's been way off the radar screen for far too long. More road signs than any NY event, yet not in our school books. But just as America undergoes historic changes, the lessons of Sullivan/ Clinton are more relevant than ever. Come learn - <em>at your own pace</em>. Do your research here. Then come back again for more, as we <em>continually</em> update this living website...  

   
{% include feature_row %}
